<section id="account_information">
  <form action="/account" method="post" name="update">
    <h2>Update Account Information</h2>
    <br>

    <h3>
        Change your username or email.
      </h3>
    <div class="user-info">
      <input name="username" type="text" placeholder="<%= @user.username %>" value="<%= @user.username %>"  id="username" class="user-info-field update-user-info-field" autocomplete="off"/>
      <span class="notice">
        <% if @error_messages && @error_messages[:username] %>
              <%= @error_messages[:username] %>
          <% end %>
      </span>
    </div>
    <!-- /user-info -->

    <div class="user-info">
      <input name="email" type="text" placeholder="<%= @user.email %>" value="<%= @user.email %>" id="email" class="user-info-field update-user-info-field" autocomplete="off"/>
      <span class="notice">
        <% if @error_messages && @error_messages[:email] %> 
              <%= @error_messages[:email] %>
          <% end %>
        </span>
    </div>
    <!-- /user-info -->

      <br>
      <h3>
        Change your password.
      </h3>
      <div class="user-info">
      <input name="new_password" type="password" placeholder="New Password" id="new_password" class="user-info-field update-user-info-field"/>
      <span class="notice">
        <% if @error_messages && @error_messages[:new_password] %>
              <%= @error_messages[:new_password] %>
          <% end %>
        </span>
    </div>
    <!-- /user-info -->

      <div class="user-info">
      <input name="password_confirmation" type="password" placeholder="Confirm New Password" id="password_confirmation" class="user-info-field update-user-info-field"/>
      <span class="notice">
        <% if @error_messages && @error_messages[:password_confirmation] %>
              <%= @error_messages[:password_confirmation] %>
          <% end %>
        </span>
      </div>
      <!-- /user-info -->

      <br>
      <div class="user-info">
      <input name="current_password" type="password" placeholder="Current Password" id="current_password" class="user-info-field"/>
      <span class="notice">
        <% if @error_messages && @error_messages[:current_password] %>
              <%= @error_messages[:current_password] %>
          <% end %>
      </span>
    </div>
    <!-- /user-info -->
    <div>
      <input type="submit" value="Save Changes" />
    </div>
    <form action="/user/<%=h @user.username %>"><input type="submit" value="Cancel" /></form>
  </form><!-- form -->
</section><!-- join -->