<section id="join">
  <form action="/join" method="post" name="create">
    <h2>Join Form</h2>
    <br>

    <div class="user-info">
      <input name="username" type="text" placeholder="Username" id="username" class="user-info-field update-user-info-field" autocomplete="off"/>
      <span class="notice">
        <% if @error_messages && @error_messages[:username] %>
              <%= @error_messages[:username] %>
        <% end %>
      </span>
    </div>
    <!-- /user-info -->

    <div class="user-info">
      <!-- We might consider making the 'type' of this field 'email'. -->
      <input name="email" type="text" placeholder="Email" id="email" class="user-info-field update-user-info-field" autocomplete="off"/>
      <span class="notice">
        <% if @error_messages && @error_messages[:email] %> 
              <%= @error_messages[:email] %>
        <% end %>
      </span>
    </div>
    <!-- /user-info -->

    <div class="user-info">
      <input name="new_password" type="password" placeholder="Password" id="new_password" class="user-info-field update-user-info-field"/>
      <span class="notice">
        <% if @error_messages && @error_messages[:new_password] %>
            <%= @error_messages[:new_password] %>
        <% end %>
      </span>
    </div>
    <!-- /user-info -->

      <div class="user-info">
        <input name="password_confirmation" type="password" placeholder="Confirm Password" id="password_confirmation" class="user-info-field update-user-info-field"/>
        <span class="notice">
          <% if @error_messages && @error_messages[:password_confirmation] %>
              <%= @error_messages[:password_confirmation] %>
          <% end %>
        </span>
      </div>
      <!-- /user-info -->
      
    <div>
      <input type="submit" value="Join!" />
    </div>
  </form><!-- form -->
</section><!-- join -->
          <% if @error_messages%>
              <%= @error_messages.to_s %>
          <% end %>
